<hr />
<div class="row">
  <div class="col-sm-12" style="text-align: center;">       
    <div class="product-form-submit-wrap">
      <h2 style="color: #000;">face honey.</h2>
      <h5 style="font-size: 35px;">honey you can wash your face with.</h5>
      <h5>$26.95</h5>
      {% include 'footer-buttons'%}      
    </div>              
  </div>    
</div>
<hr />
<img style="margin: auto;" alt="face honey. ready to #facethehoney?" src="{{ 'it-banner-xs.jpg' | asset_url }}">
