<a href="/products/face-honey/" id="buy" class="ingredients-button button btn banner-button">buy.</a>
<a style="margin-top: 0; margin-bottom: 20px;" id="ingredients" href="/pages/ingredients" class="secondary button btn banner-button">ingredients.</a>