{% include 'mailing-list' %}
<div class="pattern-strip hidden-sm hidden-xs"></div>
<div class="pattern-strip-sm hidden-md hidden-lg"></div>
<div class="footer-wrapper {{ borderClass }}">
  <div class="container">
    <footer class="main-footer">
      <div class="row footer-items">
        <div class="col-sm-6 col-xs-12">
          <div class="footer-link-list">
            <ul>
              <li><a href="https://almostpeggy.com/pages/shipping-costs-and-times">shipping costs and times.</a></li>
              <li><a href="https://almostpeggy.com/pages/returns-and-refunds">returns and refunds.</a></li>
              <li><a href="https://almostpeggy.com/pages/privacy-policy">privacy policy.</a></li>
              <li><a href="https://almostpeggy.com/pages/terms-conditions">terms and conditions.</a></li>
              <li><a class="copyright" href="http://www.onlinewebfonts.com" style="font-size: 9px;">oNline Web Fonts</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="footer-text pull-right">
            <p style="padding-left: 5px;">face honey. honey to wash your face with.</p>      
            <p class="last">share how you #facethehoney</p>
          </div>
          <div class="footer-social-icons pull-right">
            <a class="footer-share-icon footer-instagram" href="http://instagram.com/almostpeggy" target="_blank">
              <img src="{{ 'instagram-icon.png' | asset_url }}"/>
            </a>
            <a class="footer-share-icon footer-facebook" href="https://www.facebook.com/almostpeggy" target="_blank">
              <img src="{{ 'facebook-icon.png' | asset_url }}"/>
            </a>
            <a class="footer-share-icon footer-pintrest" href="https://au.pinterest.com/almostpeggy" target="_blank">
              <img src="{{ 'pinterest-icon.png' | asset_url }}"/>
            </a>
          </div>
        </div>
      </div>	
    </footer>
  </div>
  <div class="pattern-strip hidden-sm hidden-xs"></div>
  <div class="pattern-strip-sm hidden-md hidden-lg"></div>
</div>
