<style>
  #subscribe-waypoint {
   	position: absolute;
    right: 0;
    margin: 0;
  }
  #subscribe-waypoint p {
    background-color: #9A1A55;
    padding: 0 0 0 10px;
  }
  #subscribe-waypoint a p { 
    color: #FFF;
  }
</style>
<div id="subscribe-waypoint" class="hidden-sm hidden-xs">
  <a href="#mailing-list-container">
    <p>subscribe <img src="{{ 'touch-icon-iphone.png' | asset_url }}" /></p></a>
</div>